In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('police_data.csv')

In [4]:
data.head(5)

,stop_date,stop_time,country_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01-02-2005,01:55,NaN,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,08:15,NaN,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,NaN,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,NaN,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,NaN,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

## ⭐   Sum basic Python Data Analysis Questions & solutions

### 1) Remove the column that only contain missing values.

In [5]:
data.isnull().sum()

stop_date                 0
stop_time                 0
country_name          65535
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

In [6]:
data.drop(columns = 'country_name' , inplace = True)

In [7]:
data.head(5)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01-02-2005,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
3,2/20/2005,17:15,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False
4,3/14/2005,10:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [8]:
data.isnull().sum()

stop_date                 0
stop_time                 0
driver_gender          4061
driver_age_raw         4054
driver_age             4307
driver_race            4060
violation_raw          4060
violation              4060
search_conducted          0
search_type           63056
stop_outcome           4060
is_arrested            4060
stop_duration          4060
drugs_related_stop        0
dtype: int64

### 2) Find the count of male vs female drivers.

In [9]:
data['driver_gender'].value_counts()

driver_gender
M    45164
F    16310
Name: count, dtype: int64

### 3). What are the top 5 most common violations?

In [10]:
data['violation'].value_counts().head(5)

violation
Speeding               37204
Moving violation       11926
Equipment               6516
Other                   3583
Registration/plates     2243
Name: count, dtype: int64

### 4) Check the average age of drivers

In [11]:
data['driver_age'].mean()

np.float64(34.14898412491017)

### 5). Find how many stops resulted in an arrest.

In [12]:
data['is_arrested'].value_counts()

is_arrested
False    59215
True      2260
Name: count, dtype: int64

In [13]:
data.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01-02-2005,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 6) Compare violation count based on driver gender.

In [14]:
data.groupby('driver_gender')['violation'].value_counts()

driver_gender  violation
F              Speeding               11686
               Moving violation        2142
               Equipment               1396
               Registration/plates      632
               Other                    454
M              Speeding               25517
               Moving violation        9784
               Equipment               5120
               Other                   3129
               Registration/plates     1611
               Seat belt                  3
Name: count, dtype: int64

### 7) How many searches were conducted?

In [15]:
data['search_conducted'].value_counts()

search_conducted
False    63056
True      2479
Name: count, dtype: int64

### 8) What percentage of stops were drug-related?

In [16]:
data['drugs_related_stop'].mean() * 100

np.float64(0.7904173342488746)

### 8 ) Find the most common stop duration

In [17]:
data['stop_duration'].value_counts().idxmax()

'0-15 Min'

### 9) List all rows where the driver age is below 18

In [18]:
data[data['driver_age'] < 18]

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
39,9/30/2005,20:17,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
40,10-01-2005,00:00,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Arrest Driver,True,16-30 Min,True
41,10-01-2005,00:00,M,1988.0,17.0,White,Equipment/Inspection Violation,Equipment,True,Probable Cause,Citation,False,30+ Min,True
98,10-03-2005,07:05,M,1988.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
214,10-07-2005,17:10,M,1988.0,17.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,16-30 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65031,11/16/2012,13:46,M,1995.0,17.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
65189,11/21/2012,23:36,M,1996.0,16.0,Hispanic,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65197,11/23/2012,09:51,M,1995.0,17.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
65208,11/23/2012,16:46,M,1995.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
65433,12-02-2012,12:00,M,1995.0,17.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 10) List all rows where the driver age is above 50

In [19]:
data[data['driver_age'] > 50]

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
21,08-07-2005,16:50,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
33,9/28/2005,07:45,M,1953.0,52.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
34,9/29/2005,23:45,M,1947.0,58.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
51,10-01-2005,12:50,M,1950.0,55.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
54,10-01-2005,16:45,M,1954.0,51.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65489,12-05-2012,10:20,F,1958.0,54.0,White,Other Traffic Violation,Moving violation,False,NaN,Citation,False,0-15 Min,False
65497,12-05-2012,20:24,F,1960.0,52.0,Black,Equipment/Inspection Violation,Equipment,False,NaN,Citation,False,16-30 Min,False
65515,12-06-2012,10:42,M,1952.0,60.0,White,Special Detail/Directed Patrol,Other,False,NaN,Citation,False,0-15 Min,False
65520,12-06-2012,12:43,M,1953.0,59.0,White,Equipment/Inspection Violation,Equipment,False,NaN,Warning,False,0-15 Min,False
65531,12-06-2012,22:22,M,1954.0,58.0,White,Speeding,Speeding,False,NaN,Warning,False,0-15 Min,False

# ⭐ PART 1 —> 15 Advanced Python Data Analysis Questions

### 1. Find the number of traffic stops per year.

In [20]:
data.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01-02-2005,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

In [21]:
# data['stop_date'] = pd.to_datetime(data['stop_date'], errors = 'coerce')
#data['year'] = data['stop_date'].data.year
#data['year'].value_counts() */

### 3). Which race has the highest arrest rate?

In [22]:
data.groupby('driver_race')['is_arrested'].mean().sort_values(ascending = False)

driver_race
Black       0.065925
Hispanic    0.064694
White       0.028832
Asian       0.018914
Other       0.009479
Name: is_arrested, dtype: object

### 4. Analyze whether male drivers are searched more often than female drivers.

In [23]:
data.groupby('driver_gender')['search_conducted'].mean() * 100

driver_gender
F    2.244022
M    4.678505
Name: search_conducted, dtype: float64

### 5. Find the most common search type for drug-related stops.

In [24]:
data[data['drugs_related_stop'] == True] ['search_type'].value_counts()

search_type
Probable Cause                                            288
Incident to Arrest                                         87
Incident to Arrest,Probable Cause                          36
Reasonable Suspicion                                       24
Probable Cause,Reasonable Suspicion                        21
Protective Frisk                                           12
Incident to Arrest,Inventory,Probable Cause                12
Probable Cause,Protective Frisk                             9
Inventory                                                   9
Inventory,Probable Cause                                    4
Incident to Arrest,Inventory                                4
Incident to Arrest,Reasonable Suspicion                     3
Incident to Arrest,Probable Cause,Protective Frisk          3
Protective Frisk,Reasonable Suspicion                       2
Incident to Arrest,Inventory,Protective Frisk               1
Incident to Arrest,Inventory,Reasonable Suspicion           1
Incident to Arrest,Probable Cause,Reasonable Suspicion      1
Incident to Arrest,Protective Frisk                         1
Name: count, dtype: int64

### 6. Check correlation between driver age and arrest probability.

In [25]:
data['is_arrested'] = data['is_arrested'].astype(bool)
data[['driver_age' , 'is_arrested']].corr()

             driver_age  is_arrested
driver_age     1.000000    -0.035468
is_arrested   -0.035468     1.000000

### 7). Identify which stop duration is most associated with searches.

In [26]:
data.groupby('stop_duration')['search_conducted'].mean()

stop_duration
0-15 Min     0.012959
16-30 Min    0.098270
2            0.000000
30+ Min      0.279562
Name: search_conducted, dtype: float64

In [27]:
data.head(3)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
0,01-02-2005,01:55,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
1,1/18/2005,08:15,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False
2,1/23/2005,23:15,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False

### 8. Compare the number of stops during early morning (0–6 AM) vs night (6 PM–12 AM).

In [28]:
data['stop_time'] = pd.to_datetime(data['stop_time'], format='%H:%M', errors='coerce')
data['hour'] = data['stop_time'].dt.hour

data[(data.hour >= 0) & (data.hour < 6)].shape[0], data[(data.hour >= 18) & (data.hour <= 23)].shape[0]

(10417, 13155)

In [29]:
data['stop_time'] = pd.to_datetime(data['stop_time'], format='%H:%M', errors='coerce')
data['hour'] = data['stop_time'].dt.hour
early_morning_stops = data[(data['hour'] >= 0) & (data['hour'] < 6)].shape[0]
night_stops = data[(data['hour'] >= 18) & (data['hour'] < 24)].shape[0]
print(f"Number of stops during early morning (0-6 AM): {early_morning_stops}")
print(f"Number of stops during night (6 PM-12 AM): {night_stops}")

Number of stops during early morning (0-6 AM): 10417
Number of stops during night (6 PM-12 AM): 13155

In [30]:
data.head(5)

,stop_date,stop_time,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop,hour
0,01-02-2005,1900-01-01 01:55:00,M,1985.0,20.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,1
1,1/18/2005,1900-01-01 08:15:00,M,1965.0,40.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,8
2,1/23/2005,1900-01-01 23:15:00,M,1972.0,33.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,23
3,2/20/2005,1900-01-01 17:15:00,M,1986.0,19.0,White,Call for Service,Other,False,NaN,Arrest Driver,True,16-30 Min,False,17
4,3/14/2005,1900-01-01 10:00:00,F,1984.0,21.0,White,Speeding,Speeding,False,NaN,Citation,False,0-15 Min,False,10

### 9. Which violation most often leads to arrest?

In [31]:
data.groupby('violation')['is_arrested'].mean().sort_values(ascending = False)

violation
Registration/plates    0.123049
Equipment              0.072130
Other                  0.071449
Moving violation       0.059534
Speeding               0.014730
Seat belt              0.000000
Name: is_arrested, dtype: float64

### 10. What percentage of stops with “Arrest Driver” outcome involved drug-related activity?

In [32]:
data[data['stop_outcome'] == 'arrested driver']['drugs_related_stop'].mean() * 100

nan

### 11. Identify the age group with the highest stop frequency.

In [33]:
data['age_group'] = pd.cut(data['driver_age'], bins = [15,25,35,45,60,100], 
labels = ['16-25', '26-35', '36-45', '46-60', '60+'])
data['age_group'].value_counts()

age_group
16-25    20462
26-35    16541
36-45    11443
46-60    10625
60+       2152
Name: count, dtype: int64

### 12. Check if speeding is more common among young drivers (<25).

In [34]:
#data[data["driver_age"] < 25]["violation"].value_counts(normalize=True)
data[data['driver_age'] > 30 ]['violation'].value_counts()

violation
Speeding               17673
Moving violation        7075
Equipment               2788
Other                   2541
Registration/plates     1064
Seat belt                  1
Name: count, dtype: int64

### 13. Find proportion of searches resulting in arrest.

In [35]:
data[data['search_conducted'] == True]['is_arrested'].value_counts()

is_arrested
False    1511
True      968
Name: count, dtype: int64

### 14. Find the probability of drug-related stops by gender.

In [38]:
data.groupby("driver_gender")["drugs_related_stop"].mean()

driver_gender
F    0.003433
M    0.010229
Name: drugs_related_stop, dtype: float64